<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mystery.chat.mappers.MemberMapper">
    <resultMap id="memberEntity" type="com.mystery.chat.entities.MemberEntity">
        <result property="uid" column="uid_"/>
        <result property="roomID" column="room_id_"/>
        <result property="role" column="role_"/>
        <result property="label" column="label_"/>
        <result property="joinInstant" column="join_instant_"/>
    </resultMap>

    <sql id="member-entity">
        uid_,
        room_id_,
        role_,
        label_,
        join_instant_
    </sql>

    <!-- 添加成员 -->
    <insert id="insert">
        INSERT INTO t_members
        (<include refid="member-entity"/>)
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{member.uid},
            #{member.roomID},
            #{member.role},
            #{member.label},
            #{member.joinInstant},
        </trim>
    </insert>

    <!-- 根据房间ID查询成员列表 -->
    <select id="listByRoomID" resultMap="memberEntity">
        SELECT
        <include refid="member-entity"/>
        FROM t_members
        WHERE
        room_id_ = #{roomID}
    </select>

    <!-- 查询成员 -->
    <select id="get" resultMap="memberEntity">
        SELECT
        <include refid="member-entity"/>
        FROM t_members
        WHERE
        uid_ = #{uid}
        AND room_id_ = #{roomID}
        LIMIT 1
    </select>
</mapper>