<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mystery.chat.mappers.MessageMapper">
    <resultMap id="memberEntity" type="com.mystery.chat.entities.MessageEntity">
        <result property="instant" column="instant_"/>
        <result property="roomID" column="room_id_"/>
        <result property="uid" column="uid_"/>
        <result property="type" column="type_"/>
        <result property="content" column="content_"/>
    </resultMap>

    <sql id="message-entity">
        instant_,
        room_id_,
        uid_,
        type_,
        content_
    </sql>

    <!-- 插入一条消息 -->
    <insert id="insert">
        INSERT INTO t_messages
        (<include refid="message-entity"/>)
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{msg.instant},
            #{msg.roomID},
            #{msg.uid},
            #{msg.type},
            #{msg.content},
        </trim>
    </insert>

    <!-- 查询消息列表 -->
    <select id="listMsgVOs" resultType="com.mystery.chat.vos.MessageVO">
        SELECT
        m.room_id_ AS roomID,
        m.uid_ AS uid,
        u.nickname_ AS sender,
        mem.role_ AS role,
        m.type_ AS type,
        m.content_ AS content,
        m.instant_ AS instant
        FROM t_messages AS m
        LEFT JOIN t_users AS u ON m.uid_ = u.uid_
        LEFT JOIN t_members AS mem ON mem.room_id_ = #{roomID} AND m.uid_ = mem.uid_
        WHERE m.room_id_ = #{roomID}
        <if test="instant != 0">
            AND m.instant_ &lt; #{instant}
        </if>
        ORDER BY m.instant_ DESC
        LIMIT #{size}
    </select>

    <!-- 查询房间的最新消息 -->
    <select id="latestMsgForRoom" resultType="com.mystery.chat.vos.MessageVO">
        SELECT
        m.room_id_ AS roomID,
        m.uid_ AS uid,
        u.nickname_ AS sender,
        mem.role_ AS role,
        m.type_ AS type,
        m.content_ AS content,
        m.instant_ AS instant
        FROM t_messages AS m
        LEFT JOIN t_users AS u ON m.uid_ = u.uid_
        LEFT JOIN t_members AS mem ON mem.room_id_ = #{roomID} AND m.uid_ = mem.uid_
        WHERE m.room_id_ = #{roomID}
        ORDER BY m.instant_ DESC
        LIMIT 1
    </select>
</mapper>