<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mystery.chat.mappers.RoomMapper">
    <resultMap id="roomEntity" type="com.mystery.chat.entities.RoomEntity">
        <result property="id" column="id_"/>
        <result property="title" column="title_"/>
        <result property="introduction" column="introduction_"/>
        <result property="isPublic" column="is_public_"/>
        <result property="createInstant" column="create_instant_"/>
    </resultMap>

    <sql id="room_entity">
        id_,
        title_,
        introduction_,
        is_public_,
        create_instant_
    </sql>

    <!-- 添加房间 -->
    <insert id="insert">
        INSERT INTO t_rooms
        (<include refid="room_entity"/>)
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{room.id},
            #{room.title},
            #{room.introduction},
            #{room.isPublic},
            #{room.createInstant},
        </trim>
    </insert>

    <!-- 通过房间ID查询房间 -->
    <select id="getByID" resultMap="roomEntity">
        SELECT
        <include refid="room_entity"/>
        FROM t_rooms
        WHERE id_ = #{id}
        LIMIT 1
    </select>

    <!-- 查询某人拥有的房间数量 -->
    <select id="countByUID" resultType="int">
        SELECT COUNT(*)
        FROM t_members
        WHERE uid_ = #{uid}
        AND role_ = 'OWNER'
    </select>

    <!-- 查询指定用户加入的房间列表 -->
    <select id="listRoomsByUID" resultMap="roomEntity">
        SELECT
        <include refid="room_entity"/>
        FROM t_rooms AS r
        WHERE
        (SELECT COUNT(*)
        FROM t_members AS m
        WHERE m.room_id_ = r.id_
        AND m.uid_ = #{uid}) &gt; 0
    </select>
</mapper>