<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.global.js"></script>
    <script src="js/axios.min.js"></script>
    <link rel="stylesheet" href="css/chatroom.css">
    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden hidden;
        }
    </style>
</head>

<body>
<div id="app" class="mainBody">
    <div class="sideBar" id="side-bar">
        <!-- 我的信息 -->
        <div style="background: #86C166">
            <button class="btn btn-sm float-end m-1" @click="logout">&gt;</button>
            <div class="ps-3 pt-3 d-flex flex-row align-items-center">
                <img decoding="async" class="avatar" src="res/avatar.jpg" alt="avatar">
                <div style="margin-left: 0.5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; flex-grow: 1">
                    <span>{{me.nickname}}</span><br>
                    <small title="signature" style="display: inline-block">{{me.signature}}</small>
                </div>
            </div>
            <div class="ps-3 pb-3 pt-2">
                <span>Online: {{'NaN'}}</span>
            </div>
        </div>
        <!--        <hr class="m-0">-->
        <!-- 目录控制 -->
        <div class="flex-grow-1 d-flex flex-column" style="min-height: 0">
            <div class="d-flex flex-row p-1">
                <div class="menuBtn flex-grow-1 text-center">
                    <img src="res/setting.svg" alt="setting">
                </div>
                <div class="menuBtn flex-grow-1 text-center">
                    <img src="res/message.svg" alt="message">
                </div>

                <div class="menuBtn flex-grow-1 text-center">
                    <img src="res/files.svg" alt="file">
                </div>
                <div class="menuBtn flex-grow-1 text-center">
                    <img src="res/class.svg" alt="globe">
                </div>
            </div>
            <hr class="m-0">
            <!-- 房间列表 -->
            <div id="room-list" class="overflow-auto flex-grow-1 d-flex flex-column scrollBeautiful"
                 @scroll="loadMoreRooms(false)">
                <div class="d-flex flex-column px-1 pt-1" v-for="room in roomList">
                    <!-- 房间 -->
                    <div class="room-btn" v-bind:class="{'room-btn-active':currentRoom===room}"
                         @click="()=>{this.currentRoom=room;msgLstScrollBottom()}">
                        <img decoding="async" src="res/avatar.jpg" alt="avatar">
                        <div class="room-btn-content">
                            <div>
                                <span class="room-btn-title">{{room.title}}</span>
                                <span class="room-btn-unread">2</span>
                            </div>
                            <small class="room-btn-msg">{{latestMsgStr(room.messages)}}</small>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="text-center" @click="loadMoreRooms(true)">
                    <i class="spinner-border spinner-border-sm visually-hidden"></i>
                    <small>ฅ•ω•ฅ</small>
                </div>
            </div>
        </div>
        <!-- 底部菜单 -->
    </div>

    <!-- 右侧内容面板 -->
    <div id="rightBody" class="rightBody">
        <!-- 顶栏 -->
        <div class="topBar">
            <div class="d-flex align-items-center">
                <img src="res/more.svg" class="btn btn-sm"
                     alt="more"
                     style="border-radius: 0 10px 10px 0; width: 36px"
                     @click="showSideBar">
            </div>
            <div class="d-flex align-items-center">
                <img decoding="async" src="res/avatar.jpg" alt="avatar" class="avatar-xs">
                <span class="ms-2">{{currentRoom == null ? '' : currentRoom.title}}</span>
            </div>
            <div>
            </div>
        </div>
        <!-- 聊天面板 -->
        <div id="chat-room" class="contentBody">
            <!-- 消息列表 -->
            <div id="msg-list" class="message-list scrollBeautiful"
                 style="scroll-behavior: smooth">
                <div class="text-center pb-2" @click="loadMoreMessages(currentRoom)">
                    {{isLoadingMoreMsg ? 'Loading' : 'Load more'}}
                    <i v-if="isLoadingMoreMsg" class="spinner-border spinner-border-sm text-muted"></i>
                </div>
                <div v-if="currentRoom!=null" v-for="msg in currentRoom.messages"
                     v-bind:class="{'message-left': msg.uid!==me.uid, 'message-right': msg.uid===me.uid}">
                    <img src="res/avatar.jpg" alt="avatar" class="avatar-sm">
                    <div>
                        <small>
                            <span v-if="msg.role==='OWNER'||msg.role==='ADMIN'"
                                  style="border-radius: 3px;padding: 0 0.25rem"
                                  v-bind:style="{background:msg.role==='OWNER'?'peachpuff':'skyblue'}"
                            >{{msg.role === 'OWNER' ? '房主' : '管理员'}}</span>
                            <span>&nbsp;{{msg.sender}}&nbsp;</span>
                            <span style="color: gray">{{msg.dateTime}}&nbsp;</span>
                        </small>
                        <pre style="min-width: 0">{{msg.content}}</pre>
                    </div>
                </div>
            </div>
            <!-- 发送消息框 -->
            <div class="msgBar">
                <textarea id="input" class="scrollBeautiful" v-model="msgInput"
                          @click="msgLstScrollBottom"></textarea>
                <div class="ms-2 d-flex flex-column-reverse">
                    <button class="btn btn-sm btn-success" @click="sendText" style="padding: 0 0.5rem"
                            v-bind:disabled="currentRoom===null||isSendingMsg||input===''"
                    >Send<i v-if="isSendingMsg" class="spinner-grow spinner-grow-sm"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- 文件面板 -->
    </div>

    <div id="template" class="template" @click="showSideBar">
    </div>

    <div v-if="isConnectingServer" class="template-loading d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center"
             style="border-radius: 11px;background: white;padding: 1rem;font-size: 1.25rem">
            <span>Connecting server...&emsp;</span><i class="spinner-border text-muted"></i>
        </div>
    </div>
</div>
</body>

<script>
    axios.interceptors.response.use(
        res => {
            if (res.data.code === 401) {
                alert(res.data.error);
                location.href = '/';
            } else if (res.data.code === 403) {
                alert('无权操作');
            }
            return res;
        },
        err => Promise.reject(err)
    );
    const app = Vue.createApp({
        data: () => {
            return {
                me: {
                    createDate: "2022-12-03 16:31:59",
                    email: "123@qwe.com",
                    gender: "OTHER",
                    nickname: "shouchen",
                    role: "ROLE_USER",
                    roleValue: "用户",
                    signature: "123",
                    uid: "shouchen"
                },
                roomList: [
                    {
                        createDate: "1970-01-10 04:37:12",
                        id: "1",
                        introduction: "3",
                        isPublic: true,
                        messages: [{
                            content: "message",
                            id: 3,
                            instant: 1672225988232,
                            roomID: "1",
                            sender: "shouchen",
                            role: "MEMBER",
                            type: "TEXT",
                            uid: "shouchen1",
                            dateTime: '16:52'
                        }],
                        members: [
                            {
                                joinDate: "1970-01-01 08:00:00",
                                label: "",
                                nickname: "shouchen",
                                role: "OWNER",
                                roleValue: "",
                                roomID: "1",
                                uid: "WiSQAJYn"
                            }
                        ],
                        title: "room"
                    }
                ],
                isTempCanClick: true,
                isSideBarShow: true,
                isLoadRooms: false,
                isSendingMsg: false,
                msgInput: '',
                currentRoom: null,
                wSocket: null,
                isLoadingMoreMsg: false,
                isConnectingServer: true
            }
        },
        methods: {
            loadMe() {
                axios.post('/api/user/me')
                    .then(res => {
                        this.me = res.data.result;
                    })
            },
            loadRooms() {
                axios.post('/api/room/list')
                    .then(res => {
                        this.roomList = res.data.result;
                        if (this.roomList.length > 0) {
                            if (this.currentRoom == null) {
                                this.currentRoom = this.roomList[0];
                            } else {
                                let flag = true;
                                for (let room of this.roomList) {
                                    if (room.id === this.currentRoom.id) {
                                        this.currentRoom = room;
                                        flag = false;
                                        break;
                                    }
                                }
                                if (flag) {
                                    this.currentRoom = this.roomList[0];
                                }
                            }
                            this.isLoadingMoreMsg = false;
                            this.msgLstScrollBottom();
                        }
                    })
            },
            latestMsgStr(msg) {
                if (msg != null && msg.length > 0) {
                    let m = msg[msg.length - 1];
                    return m.sender + ': ' + m.content;
                }
                return '...';
            },
            sendText() {
                document.getElementById('input').focus();
                if (this.isSendingMsg || this.msgInput === '') {
                    return;
                }
                this.isSendingMsg = true;
                axios.post('/api/msg/sendText', {roomID: this.currentRoom.id, content: this.msgInput})
                    .then(res => {
                        if (res.data.code === 200) {
                            this.msgInput = '';
                            document.getElementById('input').style.height = '2rem';
                            this.isSendingMsg = false;
                            this.msgLstScrollBottom();
                        } else {
                            alert(res.data.error());
                        }
                    })
                    .catch(err => this.isSendingMsg = false);
            },
            loadMoreRooms(isForce) {
                if (!this.isLoadRooms) {
                    let roomList = document.getElementById('room-list');
                    if (isForce || roomList.scrollHeight - roomList.clientHeight - roomList.scrollTop < 1) {
                        // this.loadRooms();
                    }
                    if (isForce) {
                        this.loadRooms();
                    }
                }
            },
            loadMoreMessages(room) {
                if (this.isLoadingMoreMsg) {
                    return;
                }
                this.isLoadingMoreMsg = true;
                let param = new FormData();
                param.set('roomID', room.id);
                param.set('id', room.messages.length > 0 ? room.messages[0].id : 0);
                axios.post('/api/msg/list', param)
                    .then(res => {
                        room.messages.push(...res.data.result);
                        room.messages.sort((a, b) => a.instant - b.instant);
                        this.isLoadingMoreMsg = false;
                        let msgList = document.getElementById('msg-list');
                        msgList.scrollTo(0, 1);
                    })
                    .catch(err => this.isLoadingMoreMsg = false);
            },
            showSideBar() {
                if (!this.isTempCanClick) {
                    return;
                }
                const sideBar = document.getElementById('side-bar');
                const rightBody = document.getElementById('rightBody');
                const template = document.getElementById('template');
                if (this.isSideBarShow) {
                    sideBar.style.left = '-16rem';
                    rightBody.style.left = '0';
                    template.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                    template.style.backdropFilter = '';
                    this.isTempCanClick = false;
                    const id = setInterval(() => {
                        template.style.height = '0';
                        this.isTempCanClick = true;
                        clearInterval(id);
                    }, 750);
                } else {
                    sideBar.style.left = '0'
                    if (document.body.clientWidth < 768) {
                        template.style.height = '100%';
                        template.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
                        template.style.backdropFilter = 'blur(3px)';
                    } else {
                        rightBody.style.left = '16rem';
                    }
                }
                this.isSideBarShow = !this.isSideBarShow;
            },
            connectServer() {
                this.isConnectingServer = true;
                axios.post('/ping');
                let isSecure = location.protocol === 'https:';
                let wsProtocol = isSecure ? 'wss://' : 'ws://';
                this.wSocket = new WebSocket(wsProtocol + location.host + '/ws/chat');
                this.wSocket.onopen = ev => {
                    this.loadRooms();
                    this.isConnectingServer = false;
                }
                this.wSocket.onmessage = ev => {
                    let data = JSON.parse(ev.data);
                    if (data.code !== 200) {
                        alert(data.error);
                        location.href = '/logout';
                    } else if (data.type === 'MSG') {
                        let msg = data.result;
                        for (let room of this.roomList) {
                            if (room.id === msg.roomID) {
                                room.messages.push(msg);
                                room.messages.sort((a, b) => a.instant - b.instant);
                                if (this.currentRoom === room) {
                                    let msgList = document.getElementById('msg-list');
                                    if (msgList.scrollHeight - msgList.clientHeight - msgList.scrollTop <= 100) {
                                        if (room.messages.length > 64) {
                                            room.messages.splice(0, room.messages.length - 64);
                                        }
                                        this.msgLstScrollBottom();
                                    }
                                } else if (room.messages.length > 64) {
                                    room.messages.splice(0, room.messages.length - 64);
                                }
                                return;
                            }
                        }
                    }
                }
                let id = setInterval(() => {
                    if (this.wSocket === null
                        || this.wSocket.readyState === WebSocket.CLOSED) {
                        clearInterval(id);
                        this.connectServer();
                    } else if (this.wSocket.readyState === WebSocket.OPEN) {
                        this.isConnectingServer = false;
                    }
                }, 2000);
            },
            msgLstScrollBottom() {
                let id = setInterval(() => {
                    let msgList = document.getElementById('msg-list');
                    msgList.scroll(0, msgList.scrollHeight);
                    clearInterval(id);
                }, 200);
            },
            logout() {
                location.href = '/logout';
            }
        },
        mounted() {
            if (document.body.clientWidth < 768) {
                this.showSideBar();
            }
            let input = document.getElementById('input');
            input.addEventListener('input', ev => {
                input.style.height = '2rem';
                let sH = input.scrollHeight;
                if (sH > 100) {
                    input.style.height = '100px';
                } else {
                    input.style.height = sH + 'px';
                }
            });
            input.onkeydown = ev => {
                if (ev.ctrlKey && ev.code === 'Enter') {
                    this.sendText();
                }
            }
            let msgList = document.getElementById('msg-list');
            msgList.onscroll = ev => {
                if (msgList.scrollTop === 0) {
                    this.loadMoreMessages(this.currentRoom);
                }
            };
            this.loadMe();
            this.connectServer();
        }
    });
    app.mount('#app');
</script>
</html>