<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.global.js"></script>
    <script src="js/axios.min.js"></script>
    <link rel="stylesheet" href="css/chatroom.css">
    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden hidden;
        }
    </style>
</head>

<body>
<div id="app" class="mainBody">
    <div class="sideBar" id="side-bar">
        <!-- 我的信息 -->
        <div style="background: #86C166">
            <!--            <button class="btn btn-sm float-end m-1" @click="showSideBar"><</button>-->
            <div class="ps-3 pt-3 d-flex flex-row align-items-center">
                <img decoding="async" class="avatar" src="res/avatar.jpg" alt="avatar">
                <div style="margin-left: 0.5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; flex-grow: 1">
                    <span>{{me.nickname}}</span><br>
                    <small title="signature" style="display: inline-block">{{me.signature}}</small>
                </div>
            </div>
            <div class="ps-3 pb-3 pt-2">
                <span>Online: {{3}}</span>
            </div>
        </div>
        <!--        <hr class="m-0">-->
        <!-- 目录控制 -->
        <div class="flex-grow-1 d-flex flex-column" style="min-height: 0">
            <div class="d-flex flex-row p-1">
                <div class="menuBtn flex-grow-1 text-center">
                    <img src="res/setting.svg" alt="setting">
                </div>
                <div class="menuBtn flex-grow-1 text-center">
                    <img src="res/message.svg" alt="message">
                </div>

                <div class="menuBtn flex-grow-1 text-center">
                    <img src="res/files.svg" alt="file">
                </div>
                <div class="menuBtn flex-grow-1 text-center">
                    <img src="res/class.svg" alt="globe">
                </div>
            </div>
            <hr class="m-0">
            <!-- 房间列表 -->
            <div id="room-list" class="overflow-auto flex-grow-1 d-flex flex-column scrollBeautiful"
                 @scroll="loadMoreRooms(false)">
                <div class="d-flex flex-column px-1 pt-1" v-for="room in roomList">
                    <!-- 房间 -->
                    <div class="room-btn" v-bind:class="{'room-btn-active':currentRoom===room}"
                         @click="currentRoom=room">
                        <img decoding="async" src="res/avatar.jpg" alt="avatar">
                        <div class="room-btn-content">
                            <div>
                                <span class="room-btn-title">{{room.title}}</span>
                                <span class="room-btn-unread">2</span>
                            </div>
                            <small class="room-btn-msg">{{latestMsgStr(room.messages)}}</small>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1"></div>
                <div class="text-center" @click="loadMoreRooms(true)">
                    <i class="spinner-border spinner-border-sm visually-hidden"></i>
                    <small>ฅ•ω•ฅ</small>
                </div>
            </div>
        </div>
        <!-- 底部菜单 -->
    </div>

    <!-- 右侧内容面板 -->
    <div id="rightBody" class="rightBody">
        <!-- 顶栏 -->
        <div class="topBar">
            <div class="d-flex align-items-center">
                <img src="res/more.svg" class="btn btn-sm"
                     alt="more"
                     style="border-radius: 0 10px 10px 0; width: 36px"
                     @click="showSideBar">
            </div>
            <div class="d-flex align-items-center">
                <img decoding="async" src="res/avatar.jpg" alt="avatar" class="avatar-xs">
                <span class="ms-2">{{currentRoom == null ? '?' : currentRoom.title}}</span>
            </div>
            <div>
            </div>
        </div>
        <!-- 聊天面板 -->
        <div id="chat-room" class="contentBody">
            <!-- 消息列表 -->
            <div id="msg-list" class="flex-grow-1 p-2 overflow-auto scrollBeautiful d-flex flex-column-reverse"
                 style="scroll-behavior: smooth">
                <div class="message-left" v-for="i in 3">
                    <img src="res/avatar.jpg" alt="avatar" class="avatar-sm">
                    <div>
                        <small>
                            <span style="background-color: peachpuff;border-radius: 3px;padding: 0 0.25rem">群主</span>
                            <span>&nbsp;Nickname&nbsp;</span>
                            <span style="color: gray">21:27</span>
                        </small>
                        <p>message... {{i}}</p>
                    </div>
                </div>
                <div class="message-right">
                    <img src="res/avatar.jpg" alt="avatar" class="avatar-sm">
                    <div>
                        <small>
                            <span style="background-color: skyblue;border-radius: 3px;padding: 0 0.25rem">管理员</span>
                            <span>&nbsp;Nickname&nbsp;</span>
                            <span style="color: gray">21:26</span>
                        </small>
                        <p>message...</p>
                    </div>
                </div>
            </div>
            <!-- 发送消息框 -->
            <div class="msgBar">
                <textarea id="input" class="scrollBeautiful" v-model="msgInput"></textarea>
                <div class="ms-2 d-flex flex-column-reverse">
                    <button class="btn btn-sm btn-success" @click="sendMsg">Send</button>
                </div>
            </div>
        </div>
        <!-- 文件面板 -->
    </div>

    <div id="template" class="template" @click="showSideBar">
    </div>
</div>
</body>

<script>
    axios.interceptors.response.use(
        res => {
            if (res.data.code === 401) {
                alert(res.data.error);
                location.href = '/';
            }
            return res;
        },
        err => Promise.reject(err)
    );
    const app = Vue.createApp({
        data: () => {
            return {
                me: {
                    createDate: "2022-12-03 16:31:59",
                    email: "i.c.u.996@foxmail.com",
                    gender: "OTHER",
                    nickname: "shouchen",
                    role: "ROLE_USER",
                    roleValue: "用户",
                    signature: "123",
                    uid: "shouchen"
                },
                roomList: [
                    {
                        createDate: "1970-01-10 04:37:12",
                        id: "1",
                        introduction: "3",
                        isPublic: true,
                        messages: [{
                            content: "Some message asdasxz",
                            id: 3,
                            instant: 1672225988232,
                            roomID: "1",
                            sender: "shouchen",
                            type: "TEXT",
                            uid: "WiSQAJYn"
                        }],
                        members: [
                            {
                                joinDate: "1970-01-01 08:00:00",
                                label: "",
                                nickname: "shouchen",
                                role: "OWNER",
                                roleValue: "",
                                roomID: "1",
                                uid: "WiSQAJYn"
                            }
                        ],
                        title: "room"
                    }
                ],
                isTempCanClick: true,
                isSideBarShow: true,
                isLoadRooms: false,
                msgInput: '',
                currentRoom: null
            }
        },
        methods: {
            loadRooms() {
                axios.post('/api/room/list')
                    .then(res => {
                        this.roomList = res.data.result;
                        if (this.roomList.length > 0) {
                            this.currentRoom = this.roomList[0];
                        }
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            latestMsgStr(msg) {
                if (msg != null && msg.length > 0) {
                    return msg[0].sender + ': ' + msg[0].content;
                }
                return '...';
            },
            sendMsg() {
                alert(this.msgInput)
                let msgList = document.getElementById('msg-list');
                msgList.scroll(0, 0);
            },
            loadMoreRooms(isForce) {
                if (!this.isLoadRooms) {
                    let roomList = document.getElementById('room-list');
                    if (isForce || roomList.scrollHeight - roomList.clientHeight - roomList.scrollTop < 1) {
                        // this.loadRooms();
                    }
                    if (isForce) {
                        this.loadRooms();
                    }
                }
            },
            showSideBar() {
                if (!this.isTempCanClick) {
                    return;
                }
                const sideBar = document.getElementById('side-bar');
                const rightBody = document.getElementById('rightBody');
                const template = document.getElementById('template');
                if (this.isSideBarShow) {
                    sideBar.style.left = '-16rem';
                    rightBody.style.left = '0';
                    template.style.backgroundColor = 'rgba(0, 0, 0, 0)';
                    template.style.backdropFilter = '';
                    this.isTempCanClick = false;
                    const id = setInterval(() => {
                        template.style.height = '0';
                        this.isTempCanClick = true;
                        clearInterval(id);
                    }, 1000);
                } else {
                    sideBar.style.left = '0'
                    if (document.body.clientWidth < 768) {
                        template.style.height = '100%';
                        template.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
                        template.style.backdropFilter = 'blur(3px)';
                    } else {
                        rightBody.style.left = '16rem';
                    }
                }
                this.isSideBarShow = !this.isSideBarShow;
            }
        },
        mounted() {
            if (document.body.clientWidth < 768) {
                this.showSideBar();
            }
            let input = document.getElementById('input');
            input.addEventListener('input', ev => {
                input.style.height = '2rem';
                let sH = input.scrollHeight;
                if (sH > 100) {
                    input.style.height = '100px';
                } else {
                    input.style.height = sH + 'px';
                }
            });
            input.onkeydown = ev => {
                if (ev.ctrlKey && ev.code === 'Enter') {
                    this.sendMsg();
                }
            }
            this.loadRooms();
        }
    });
    app.mount('#app');
</script>
</html>