@media screen and (max-width: 768px) {
    /* 移动端 */
    :root {
        --isMobile: true;
    }
}

@media screen and (min-width: 768px) {
    /* 桌面端 */
    :root {
        --isMobile: false;
    }
}

.mainBody {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sideBar {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    transition: left 1s cubic-bezier(0.2, 0.6, 0.1, 1);
}

.rightBody {
    position: absolute;
    top: 0;
    left: 16rem;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    transition: left 1s cubic-bezier(0.2, 0.6, 0.1, 1);
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0.5rem 0.5rem 0.5rem 0;
    background-image: linear-gradient(160deg, #58B2DC, #FEDFE1);
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.contentBody {
    z-index: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.msgBar {
    padding: 0.5rem;
    z-index: 1;
    box-shadow: 0 0 3px gray;
    display: flex;
    flex-direction: row;

}

.msgBar textarea {
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 0.25rem;
    flex-grow: 1;
    height: 2rem;
    resize: none;
}

.avatar {
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 48px;
    height: 48px;
    transition: all 0.25s ease;
}

.avatar:hover {
    box-shadow: 0 1px 7px rgba(255, 255, 255, 0.5);
}

.avatar-sm {
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 42px;
    height: 42px;
}

.avatar-xs {
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 38px;
    height: 38px;
}

.roomBtn {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.roomBtn:hover {
    background: lightgray;
}

.roomBtn img {
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    height: 42px;
    width: 42px;
}

.roomBtn div {
    margin-left: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuBtn {
    border-radius: 5px;
    padding: 0.5rem;
    transition: background-color 0.2s ease;
}

.menuBtn img {
    width: 32px;
    height: 32px;
}

.menuBtn:hover {
    background: lightgray;
}

.template {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    z-index: 7;
    background: rgba(0, 0, 0, 0);
    transition: background-color 0.5s cubic-bezier(0.2, 0.6, 0.1, 1);
}

.scrollBeautiful {
}

.scrollBeautiful::-webkit-scrollbar {
    width: 5px;
}

.scrollBeautiful::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: lightgray;
}