@media screen and (max-width: 768px) {
    /* 移动端 */
    :root {
        --isMobile: true;
    }
}

@media screen and (min-width: 768px) {
    /* 桌面端 */
    :root {
        --isMobile: false;
    }
}

.mainBody {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sideBar {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    transition: left 0.75s cubic-bezier(0.2, 0.6, 0.1, 1);
}

.rightBody {
    position: absolute;
    top: 0;
    left: 16rem;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    transition: left 0.75s cubic-bezier(0.2, 0.6, 0.1, 1);
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0.5rem 0.5rem 0.5rem 0;
    background-image: linear-gradient(160deg, lightskyblue, #b8aedc, lightpink);
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.contentBody {
    z-index: 0;
    flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.msgBar {
    padding: 0.5rem;
    z-index: 1;
    box-shadow: 0 0 3px gray;
    display: flex;
    flex-direction: row;
}

.msgBar textarea {
    border: none;
    outline: none;
    border-radius: 13px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 0.25rem 0.5rem;
    flex-grow: 1;
    min-height: 1rem;
    height: 2rem;
    resize: none;
}

.message-list {
    padding: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
}

.message-left {
    display: flex;
    flex-direction: row;
    margin: 0 50px 1rem 0;
}

.message-left pre {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    word-break: break-all;
    white-space: pre-wrap;
    margin: 0.25rem 0 0 0;
}

.message-left div {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.message-right {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 1rem 50px;
}

.message-right pre {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    word-break: break-all;
    white-space: pre-wrap;
    margin: 0.25rem 0 0 0;
}

.message-right div {
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.message-right small {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.avatar {
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 48px;
    height: 48px;
    transition: all 0.25s ease;
}

.avatar:hover {
    box-shadow: 0 1px 7px rgba(255, 255, 255, 0.5);
}

.avatar-sm {
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 42px;
    height: 42px;
}

.avatar-xs {
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 38px;
    height: 38px;
}

.room-btn {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.room-btn-active {
    box-shadow: 0 0 3px forestgreen;
}

.room-btn:hover {
    background: lightgray;
}

.room-btn img {
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    height: 42px;
    width: 42px;
}

.room-btn-content {
    margin-left: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.room-btn-title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.room-btn-msg {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    color: gray;
}

.room-btn-unread {
    background-color: pink;
    border-radius: 5px;
    padding: 0 0.25rem;
    float: right;
}

.menuBtn {
    border-radius: 5px;
    padding: 0.5rem;
    transition: background-color 0.2s ease;
}

.menuBtn img {
    width: 32px;
    height: 32px;
}

.menuBtn:hover {
    background: lightgray;
}

.template {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    z-index: 7;
    background: rgba(0, 0, 0, 0);
    transition: background-color 0.75s cubic-bezier(0.2, 0.6, 0.1, 1);
}

.template-loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
}

.scrollBeautiful {
}

.scrollBeautiful::-webkit-scrollbar {
    width: 5px;
}

.scrollBeautiful::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: lightgray;
}
